/* body for all files need to have " Times New Roman" font */
/* used local Jpg  image   */
body {
  background-image: url(./111.jpg);
  background-size: cover;
  font-family: Georgia, Times, "Times New Roman", serif;

  
}

html {
  
  
  min-height: 100%;
  position: relative;
}


main {
  margin: 70px 0;
}

.block {
  background-color: #fff;
  padding: 33px;
  margin-bottom: 35px;
}

.block-header {
  font-size: larger;
  color: #4aaaa5;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}
/* ID me means about me top written col, changed font, font size and font color */
#me {
  font-family: Georgia, Times, "Times New Roman", serif;

  font-size: 20px;
  font-weight: bold;
  color: #fff;

  background: #4aaaa5;
}
/* navbar links :hover  */
.navbar-default .navbar-nav > li > a:hover {
  color: #4aaaa5;
}

.navbar {
  border: 2px;
  background: white;
  
}


  .navbar-header {
    background-color: #4aaaa4;
  }

.connect-header {
  font-size: 25px;
}

.connect-photo {
  width: 55px;
  height: 55px;
}

#images {
  padding-top: 15px;
  text-align: center;
}
/* End of contect*/


/* BEGIN FOOTER */
.footer {
 position: absolute;
  bottom: 0;
   width: 100%;
  height: 55px; 
  background-color: #666; }

.footertext {
  margin-top: 15px;
  color: #eeeeee;
}

.footerline {
  
  height: 6px;
  padding-top: 3px;
  background-color: #4aaaa5;
}
/*  FOOTER ends here */

/* About page starts here  */
.about-me-header {
  margin-bottom: 33px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 32px;
  font-weight: bold;
  color: #4aaaa5;
}
/* floating my image to the left to have paragraph on the right  */
#image {
  
  float: left;
  width: 220px;
  margin: 0 30px 8px 0;
}
/*  About page ends*/


/* portfolio */
.port-image {
  margin: 20px auto;
}
/* end of Protfolio */


.form-control {
  border-radius: 0;
  min-width: 100%;
  max-width: 100%;
}

.submit {
  
  padding: 20px 25px;
  font-size: 16px;
  font-weight: lighter;
  color: #fff;
  background-color: #4aaaa5;
  border: 5px;
}

.submit:hover{
  opacity: .9;
}
    
h4{
  width: 300px;
  
  }
      .sidebar {
        width: 355px;
        height: fit-content;
        max-width: 300px;
        padding: 35px;
        margin-bottom: 20px;
        margin-left: 60px;
        float: right;
        padding-bottom: 20px;
        margin-bottom: 15px;
        line-height: 22px;
        border: 1px solid #ddd;
        background: rgba(255, 255, 255, 0.26);
      }
  
      .sidebar a:hover img {
        border: 3px solid #470a0a;
      }
  
  
      .social {
        position: relative;
        width: 50px;
        height: 50px;
        margin: 5px;
      }
       .port-image {
width: 95%;
height: 90%;
border: 5px;
border-color: #666;

      }


